.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty{
  border-color: #78FA89;
}

.wip-message, .cart-button{
  transition:all linear 0.5s;
  -webkit-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
}

.wip-message.ng-hide, .cart-button.ng-hide{
  opacity: 0;
}
