<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  crossorigin="anonymous">
  <link rel="stylesheet" href="css/csapp.css" media="screen" title="no title" charset="utf-8">
  <title>Flatlanders' Store</title>
</head>
<!-- ng-app starts the app manually, it can also be bootstraped via code -->
<!-- ng-strict-di is good practice, forces all services to be properly annotated -->
<!-- ng-controller sets a controller scope -->
<!-- controller as sintax allow us to use alias and not needing the
$parent to access upper level elements -->
<!-- <body ng-app="store" ng-controller="StoreController as store"  ng-strict-di> -->
<body ng-controller="StoreController as store">
  <h1 ng-bind="'Welcome' | capitalize"></h1>

  <h2> Filter: </h2>
  <fieldset class="form-group">
    <input type="text" class="form-control" title="Product" ng-model="store.search.name" novalidate/>
  </fieldset>

  <!-- ng bind is an alternative to {{}} with the added benefit of
  not displaying the curly braces while angular loads-->
  <!-- you can chain filters with the | operator -->
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products | filter: store.search | orderBy: '-price'" ng-hide="product.soldOut">
      <!-- Custom directives -->
      <h3>
        <product-title product="product" addtocart="store.addToCart(product)"></product-title>
        <product-gallery product="product"></product-gallery>
      </h3>

      <product-panels product="product"></product-panels>
    </li>
  </ul>

  <!-- Imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
  charset="utf-8"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"
   charset="utf-8">
  </script>
  <!-- Local Files-->
  <script type="text/javascript" src="js/codeschoolapp.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/products.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/tab.js" charset="utf-8"></script>
</body>
</html>
